.toppers
{
    height: 150px!important;
}
.cardTitle
{
    text-transform: UPPERCASE;
}
.column
{
    padding: 0;
}
.rowclass
{
    padding: 5%;
    background-color: #f3f3f3;
}
.qr {
  float: left;
  padding: 10px;
}
