.search-bottom{
  position: fixed;
  display: block;
  margin: auto;
  left: 18%;
  bottom: 4%;
  height: 7%;
  width: 70%;
  font-weight: 100;
  padding-left: 28px;
  font-family:"lato";
  font-size: 15px;
  opacity: 0.6;
  color: #2C2D30;
}
.maincard {
  margin: auto;
  left :3%;
  right:0%;
  width: 70%;
}
.colsize {
  padding-left: 0px;
  padding-right: 0px;
  width: 100px
}
.scroll {
    max-height: 470px;
    overflow-y: auto;
}
.list {
  margin: 15px auto;
  min-height: 100px;
  background-color: #fff  ;
  padding: 10px 10px;
}
.list-text {
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 0px;
  margin-left:0px;
 
}
.profilepic {
  height: 60px;
  width: 60px;
  padding-right: 0px;
  margin-right: 575px;
}
.chat {
  background-color: white;
}
.emoji {
  position: fixed;
  bottom: 4%;
  left: 85%;
}
.suggestion {
  position: fixed;
  bottom: 12%;
  left:20%;
}
.hover:hover {
  transition: all .1s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}