.forum {
    background-color: #fff !important;
}

.cluster-group {
    cursor: pointer;
}

.cluster-group:hover {
    background-color: #dadada;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.question-card {
    margin-top: 10px !important;
}

.question_image {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.aid_text {
    margin: 0 !important;
}