.head1{
    overflow:scroll;
    color:darkblue;
    height: auto;
}

.right
{
    height: 100%;
    width: 75%;
    float: right;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 20px;
}
.left
{
    height: 500px;
    margin-left: 80px;
    width: 15%;
    float: left;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.temp
{
    display: inline-block;
    width:100%;
}

.chat1
{
    float: left;
    background-color: #007bff;
    font-size: 20px;
    color: azure;
    margin-left: 10%;
    height: auto;
    border-radius: 15px;
    padding: 5px 15px 2px 15px;
    font-family:Arial, Helvetica, sans-serif;

        margin-bottom: 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);

}


.chatContainers
{
    padding-right:30px; 
    padding-left: 30px;
width:70%;
bottom: 30px;
height: 40px;
position: fixed;
margin-right: 20px;

}


input[type=text] {
    border: 2px solid cyan;
    opacity: 0.7;
}
input[type=text]:hover {
    opacity:1;
}


