@font-face {
    font-family: 'gotham_mediumregular';
    src: url('./assets/gotham_medium_regular-webfont.woff2') format('woff2'),
        url('./assets/gotham_medium_regular-webfont.woff') format('woff');
    font-weight: 10 !important;
    font-style: normal;

}

.body {
    font-family: 'gotham_mediumregular', sans-serif !important;
}

.nav-link {
    color: black;
}

a {
    text-decoration: none !important;
    color: #000 !important;
    font-family: 'gotham_mediumregular', sans-serif !important;
}

.nav-link {
    cursor: pointer !important;
}

.card.main {
    border: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}